
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası Kendi oluşturduğumuz View Sayfasıdır</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mustafa</td>
        <td>Yazılım Geliştirme Uzmanı</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mustafa</td>
        <td>Yazılım Geliştirme Uzmanı</td>
    </tr>
</table>
